{% macro form_field(field) -%}
    {#    {% set with_label = kwargs.pop('with_label', False) %}#}
    {% set placeholder = '' %}
    {#    {% if not with_label %}#}
    {#        {% set placeholder = field.label.text %}#}
    {#    {% endif %}#}
    <div class="control-group row {% if field.errors %}has-error{% endif %}">
        {#        {% if with_label %}#}
        <div class="col-md-4">
            <label for="{{ field.id }}" class="control-label">
                {{ field.label.text }}{% if field.flags.required %} *{% endif %}:
            </label>
        </div>
        <div class="col-md-6">
            {#        {% endif %}#}
            <div class="controls">
                {% set class_ = kwargs.pop('class_', '') %}
                {% if field.flags.required %}
                    {% set class_ = class_ + ' required' %}
                {% endif %}
                {% if field.type == 'BooleanField' %}
                    {#                <label class="checkbox">#}
                    {{ field(class_=class_, **kwargs) }}
                    {#                    {{ field.label.text|safe }}#}
                    {#                </label>#}
                {% else %}
                    {% if field.type == 'FileField' %}
                        {% set class_ = class_ + 'form-control input-file' %}
                    {% else %}
                        {% set class_ = class_ + 'form-control  input-xlarge' %}
                    {% endif %}
                    {{ field(class_=class_, placeholder=placeholder, **kwargs) }}
                {% endif %}
                {% if field.errors %}
                    <span class="error-message">{{ field.errors|join(', ') }}</span>
                {% endif %}
            </div>

        </div>
        <div class="col-md-2">
            {% if field.description %}
                {#                <p class="help-block">{{ field.description|safe }}#}
                <span class="glyphicon glyphicon-question-sign"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ field.description|safe }}"
                      aria-hidden="true"></span>
                {#                </p>#}
            {% endif %}
        </div>
    </div>
{%- endmacro %}