{% extends 'base.html' %}

{% block css %}
    .glyphicon {
    font-size: 20px;
    }

    .form-field{
    padding: 10px;
    }

    .title{

    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;    }
{% endblock %}

{% block content %}

    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="title">Montecarlo</h3></div>
                <div class="panel-body">

                    {% for field in form %}
                        <div class="row form-field">
                            <div class="col-md-3">
                                {{ field.label }}
                                {% if field.flags.required %}*{% endif %}
                            </div>
{#                            {{ field.name }}#}
                            <div class="col-md-6">
                                {{ field(class_="form-control") }}</div>
                            <div class="col-md-3">


                <span class="glyphicon glyphicon-question-sign"
                      data-toggle="tooltip"
                      data-placement="right"
                      title="{{ field.description }}"
                      aria-hidden="true"></span></div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <input type="submit" value="Submit"
                   class="btn btn-primary btn-block">
        </form>
    </div>
    <div class="col-md-3"></div>

{% endblock %}