{% extends 'base.html' %}
{% import 'field.html' as display %}

{% block content %}

    <div class="col-md-2"></div>
    <div class="col-md-8">
        <form method="post">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="title">Montecarlo</h3>
                </div>
                <div class="panel-body">

                    {% for field in form %}
                        {{ display.form_field(field) }}
                    {% endfor %}
                </div>
            </div>

            <input type="submit" value="Submit"
                   class="btn btn-primary btn-block">
        </form>
    </div>
    <div class="col-md-2"></div>

{% endblock %}